{
  "projectId": "travel-50844",
  "appId": "1:216960635494:web:fa98188c2231a49c8f53a7",
  "storageBucket": "travel-50844.firebasestorage.app",
  "apiKey": "AIzaSyDzaCX0Cnto1f6crziqADEBMERgl67Zu0M",
  "authDomain": "travel-50844.firebaseapp.com",
  "messagingSenderId": "216960635494",
  "measurementId": "G-XDGHJTQKE3",
  "projectNumber": "216960635494",
  "version": "2"
}