CREATE TABLE IF NOT EXISTS newsletter_subscribers (
    id UUID DEFAULT uuid_generate_v4() PRIMARY KEY,
    email TEXT NOT NULL UNIQUE,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Policy to allow anyone to insert (subscribe)
ALTER TABLE newsletter_subscribers ENABLE ROW LEVEL SECURITY;

CREATE POLICY "Enable insert for all users" ON newsletter_subscribers
    FOR INSERT WITH CHECK (true);

CREATE POLICY "Enable read access for service role only" ON newsletter_subscribers
    FOR SELECT USING (auth.role() = 'service_role');
